*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:  sans-serif;
  background-color: #374a8a75;
}
header{
  padding: 50px 15px 0;
}
header h1{
  color: white;
  font-size: 48px;
  font-size: 500;
  text-align: center;
}

main{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
section{
  padding: 15px;
}

.navcon{
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  display: inline-flex;

  background-color: #333232;
  border-radius: 8px;
  color: #1f1c1cc9;
  font-size: 20px;
  font-weight: 300;
  transition: 0.5s ease-out;
}
.navcon p{
  padding: 15px;
  color: #e4e0e0f6;
  font-size: 20px;
  font-weight: 300;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.navcon b{
  padding: 15px;
  text-align: center;
  color: #ee0f0ff6;
  font-size: 30px;
  font-weight: 600;
  transition: 0.5s ease-out;
}
.navcon b:hover{
  padding: 15px;
  text-align: center;
  color: #c5ee0ff6;
  font-size: 15px;
  font-weight: 300;
  transition: 0.5s ease-out;
}
.searchbox{
  display: block;
  width: 20%;
  padding: 15px;
  height: 2em;

  outline: none;
  background: none;
  position: absolute;
  right: 20%;

  background-color: white;
  border-radius: 15px;
  color: #1f1c1cc9;
  font-size: 20px;
  font-weight: 300;
  transition: 0.10s ease-out;
}
.searchbox:focus{
 box-shadow: 0px 0px 8px 3px #b4ff04;
}

/* this is my spinner styling */
.loader {
  position: absolute;
  right: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #141414;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear ; 
  animation: spin 2s linear ;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.movieshow {
  display: inline-block;
  position: relative;
  right: 10%;
  /* background: #723636; */
  padding: 15px;


 
}
.coverrar {
 
  background: #e42611;
  height: 30px;
  border-radius: 25px;
  width: 40px;
  position: absolute;
  top: 7%;
  left: 85%;
  cursor: pointer;



 
}





i{
  padding: 0 4px;
  height: 37px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(224, 227, 237);
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(0%, -50%);
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.btn1 .btn2 {
  background-color: #6277a7;
  border: 1px solid green;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;

}
.btn2{
  border-radius: 20px;
}


.btn1 .btn2:not(:last-child) {
  border-right: none; 
}

.btn1 .btn2:hover {
opacity: 0.2;
color: #141414;
}

  .viewImage{
 
  transition: transform .2s; 
 

  }

  .viewImage:hover{
    transform: scale(1.2);
    cursor: pointer;
  }

.movie-card {
  
  min-height: 420px;
  width: 23%;
display: inline-block;
padding-top: 60px;
background-color: none;
margin-right: 30px;
justify-content: space-around;

}
